@tailwind preflight;

@tailwind components;

@import url('https://fonts.googleapis.com/css?family=Muli');

html, body, #__nuxt, #__layout {
  height: 100%;
  font-family: 'Muli', sans-serif;
}

.input {
  @apply border border-grey-light rounded-lg p-2 text-grey-darkest;

  &:disabled {
    @apply text-grey border-grey-lighter;
    background-color: rgba(178,193,202,0.2);
  }
}

.label {
  @apply block tracking-wide text-grey-darker;
}

.button {
  @apply py-3 px-8 uppercase border border-dashed rounded-full cursor-pointer;

  &.button--blue {
    @apply border-blue bg-blue text-white;

    &:disabled {
      @apply border-blue bg-grey-light text-grey-darker cursor-default;
    }
  }
}

.heading {
  @apply text-black font-normal uppercase text-3xl;
}

#markerLayer img {
  @apply rounded-full border-2 border-black;
}

@import 'multiselect';
@import 'navbar';

@tailwind utilities;
